<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saroja Tuition Centre</title>

    <!-- Link to external CSS file for styling -->
    <link rel="stylesheet" href="../static/CSS/mycss.css">

    <!-- Script tag to external JS file-->
    <script src="../static/JS/myjavascript.js" defer></script>

    <!--Script tag for Google web font-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
<header>

    <!-- Navigation menu -->
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </nav>
</header>

<!-- Main content section -->
<main>

    <!-- Logo and heading -->
    <div class="home-logo">
     <div class="name">
    <h1 style="font-style: italic; color: darkgreen">Welcome to Saroja Tuition Centre</h1>
    <pre style="color: darkorange; font-style: italic; font-weight: bold" >Your success is our mission.<br>Our mission is to create a supportive learning environmen<br>where academic success and personal growth go hand in hand.
    </pre>
     </div>
        <!-- Logo image -->
    <img id="logo" src="../static/images and videos/saroja logo1.png" alt="Tuition Centre">
    </div>
</main>

<!-- Paragraph with a welcoming message and academic support details -->
<!--using inline css style-->
<p style=" margin-left: 20px;
    margin-right: 20px; padding: 10px;
    text-align: justify; background-color: #f9f9f9;
    border-radius: 8px; font-family:'Palatino Linotype';
    color: darkred;">

    Welcome to Saroja Tuition Centre! We are delighted to have you here.
    At Saroja Tuition Centre, we believe that every student has the potential to
    excel academically and personally. Our dedicated team of experienced educators
    is committed to providing personalized learning experiences that cater to the
    unique needs of each student. Whether you're looking to improve your grades,
    prepare for exams, or develop a deeper understanding of your subjects, we're here
    to support you every step of the way. Join us at Saroja Tuition
    Centre and embark on a journey towards academic success and lifelong learning.
</p>

<!-- Center-aligned link to "Check Eligibility Fee & Subjects" -->
<p style="text-align: center;">

    <!--using inline css style-->
    <a id="connecting-page" href="calculate fee.html" style="display: inline-block;
                                                         padding: 10px 20px;
                                                         border: 2px solid cornflowerblue;
                                                         border-radius: 5px;
                                                         text-decoration: none;
                                                         color: black;
                                                     background-color: lightyellow;">
        <!--using underline tag to underline-->
        <u>Check Eligibility Fee & Subjects</u>
    </a>
</p>


<!-- Footer with contact information -->
<footer>
    <pre style="font-style: italic;">&copy;2024 Saroja Tuition Centre.
         Hanchinal Complex, Opp- Al-ameen, Vijayapur, Karanatka, 586108
         <a href="mailto:saroja.hanchinaltutioncentre@gmail.com">saroja.hanchinaltutioncentre@gmail.com </a>
    </pre>
</footer>
</body>
</html>